.container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height:100vh; /*Este valor lo puedes omitir si la altura de tu componente esta definida*/
  }
